<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue init</title>
    <style>
        .planoFundo {
            background-color: blue;
            color: white;
        }
        .tamanhoFonte {
            font-size: 45px;
        }
    </style>
</head>
<body>

    <div id="app">
        <p :class="{ 'planoFundo' : aux }">{{ message }}</p>
        <input type="text" v-model="message">
        <button type="button" @click="handle()">Enviar</button>
        <hr>
        
        Qual seu sexo?
        <input type="radio" value="Masculino" v-model="opcaoSexo">Masculino 
        <input type="radio" value="Feminino" v-model="opcaoSexo">Feminino 
        <br>
        {{ opcaoSexo }}

        <hr>

        <p>Escolha suas refeições!</p>
        <input type="checkbox" v-model="refeicao" value="Pizza">Pizza <br>
        <input type="checkbox" v-model="refeicao" value="Hotdog">Hotdog <br>
        <input type="checkbox" v-model="refeicao" value="Arroz">Arroz <br>
        <input type="checkbox" v-model="refeicao" value="Sushi">Sushi <br>
        <input type="checkbox" v-model="refeicao" value="Feijão">Feijão <br>
        <p>{{ refeicao }}</p>
        {{ refeicao.length > 2 ? 'Não pode comer mais' : '' }}

        <p v-if="pessoaMenor()">A pessoa é menor</p>
        <p v-else-if="pessoaMaior()">A pessoa é maior</p>
        <p v-else>A pessoa é idosa</p>

        <p v-show="variavelValor">Show</p>

        <ul>
            <li 
                v-for="time in listaTimes" 
                :key="time" 
                v-bind:class="alterarCor()">
                {{ time.nome }} é da cidade {{ time.cidade }} com {{ time.titulos }} títulos, com {{ time.qntTorcida }} torcedores.
            </li>
        </ul>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        const { createApp, ref } = Vue

        createApp({
            setup() {
                const message = ref('Here!')
                const variavelValor = ref(false)

                const idade = 78
                const pessoaMenor = () => idade < 18
                const pessoaMaior = () => (idade >= 18 && idade < 50)

                const alterarCor = () => {
                    return ['tamanhoFonte', 'planoFundo'];
                }

                const listaTimes = ref([
                    {
                        nome: 'Parnahyba Sport Club',
                        cidade: 'Parnaíba',
                        titulos: 2,
                        qntTorcida: 890
                    },
                    {
                        nome: '4 de julho',
                        cidade: 'Piripiri',
                        titulos: 1,
                        qntTorcida: 1000
                    },
                    {
                        nome: 'Ferroviário',
                        cidade: 'Parnaíba',
                        titulos: 0,
                        qntTorcida: 780
                    },
                    {
                        nome: 'River',
                        cidade: 'Teresina',
                        titulos: 7,
                        qntTorcida: 340
                    },
                    {
                        nome: 'Altos Esporte Clube',
                        cidade: 'Altos',
                        titulos: 3,
                        qntTorcida: 0
                    }
                ])

                const opcaoSexo = ref('Feminino')

                const refeicao = ref([])

                const aux = ref(false)
                const handle = () => {
                    aux.value = !aux.value
                }

                return {
                    aux,
                    handle,
                    refeicao,
                    opcaoSexo,
                    alterarCor,
                    pessoaMenor,
                    pessoaMaior,
                    message,
                    variavelValor,
                    listaTimes
                }
            }
        }).mount('#app')
    </script>
</body>
</html>