<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Init</title>
    <style>
        .time {
            background-color: aqua;
            padding: 3px;
        }
    </style>
</head>
<body>
    <div id="app">
        
        <p>Primeiro nome: {{ user.first_name }}</p>
        <p>Último nome: {{ user.last_name }}</p>
        <p>Nome completo: {{ full_name }}</p>

        <hr>

        <ul>
            <li v-for="todo in todos" :key="todo.task">
                <input v-model="todo.status" type="checkbox">
                {{ todo.task }}
            </li>
        </ul>

        <ul>
            <li v-for="todo in unTodos" :key="todo.task">
                {{ todo.task }} - {{ todo.status }}
            </li>
        </ul>

        <ul>
            <li v-for="todo in completeTodos" :key="todo.task">
                {{ todo.task }} - {{ todo.status }}
            </li>
        </ul>
        
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        const { createApp, ref, computed } = Vue

        createApp({
            setup() {
                const user = ref({
                    first_name: "Luiz",
                    last_name: "Monteiro"
                })

                const full_name = computed(() => {
                    return `${user.value.first_name} ${user.value.last_name}`
                })

                const todos = ref([
                    {
                        task: 'Here 01',
                        status: false
                    },
                    {
                        task: 'Here 02',
                        status: true
                    },
                    {
                        task: 'Here 03',
                        status: true
                    },
                    {
                        task: 'Here 04',
                        status: true
                    },
                ])
                
                const unTodos = computed(() => {
                    return (todos.value).filter((todo) => todo.status)
                })
                
                const completeTodos = computed(() => {
                    return (todos.value).filter((todo) => !todo.status)
                })

                return {
                    todos,
                    unTodos,
                    completeTodos,
                    user,
                    full_name
                }
            }
        }).mount('#app')
    </script>
</body>
</html>